@font-face {
	font-family: 'feihuaicon';
	src:url('fonts/feihuaicon.eot?o7w8wv');
	src:url('fonts/feihuaicon.eot?#iefixo7w8wv') format('embedded-opentype'),
		url('fonts/feihuaicon.woff?o7w8wv') format('woff'),
		url('fonts/feihuaicon.ttf?o7w8wv') format('truetype'),
		url('fonts/feihuaicon.svg?o7w8wv#feihuaicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fhui-icon {
	font-family: 'feihuaicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fhui-icon-home:before {
	content: "\e600";
}

.fhui-icon-home-1:before {
	content: "\e601";
}

.fhui-icon-home-2:before {
	content: "\e602";
}

.fhui-icon-home-3:before {
	content: "\e603";
}

.fhui-icon-newspaper:before {
	content: "\e604";
}

.fhui-icon-pencil:before {
	content: "\e605";
}

.fhui-icon-pencil-1:before {
	content: "\e606";
}

.fhui-icon-picture:before {
	content: "\e607";
}

.fhui-icon-picture-1:before {
	content: "\e608";
}

.fhui-icon-music:before {
	content: "\e609";
}

.fhui-icon-camera:before {
	content: "\e60a";
}

.fhui-icon-camera-1:before {
	content: "\e60b";
}

.fhui-icon-film:before {
	content: "\e60c";
}

.fhui-icon-microphone:before {
	content: "\e60d";
}

.fhui-icon-book:before {
	content: "\e60e";
}

.fhui-icon-file:before {
	content: "\e60f";
}

.fhui-icon-print:before {
	content: "\e610";
}

.fhui-icon-trash:before {
	content: "\e611";
}

.fhui-icon-cloud:before {
	content: "\e612";
}

.fhui-icon-upload:before {
	content: "\e613";
}

.fhui-icon-download:before {
	content: "\e614";
}

.fhui-icon-phone:before {
	content: "\e615";
}

.fhui-icon-phone-1:before {
	content: "\e616";
}

.fhui-icon-play:before {
	content: "\e617";
}

.fhui-icon-pause:before {
	content: "\e618";
}

.fhui-icon-stop:before {
	content: "\e619";
}

.fhui-icon-bell:before {
	content: "\e61a";
}

.fhui-icon-bell-1:before {
	content: "\e61b";
}

.fhui-icon-off:before {
	content: "\e61c";
}

.fhui-icon-volumeup:before {
	content: "\e61d";
}

.fhui-icon-volumedown:before {
	content: "\e61e";
}

.fhui-icon-volume:before {
	content: "\e61f";
}

.fhui-icon-volumeclose:before {
	content: "\e620";
}

.fhui-icon-volumeincrease:before {
	content: "\e621";
}

.fhui-icon-volumedecrease:before {
	content: "\e622";
}

.fhui-icon-lock:before {
	content: "\e623";
}

.fhui-icon-unlock:before {
	content: "\e624";
}

.fhui-icon-flag:before {
	content: "\e625";
}

.fhui-icon-wifi:before {
	content: "\e626";
}

.fhui-icon-location:before {
	content: "\e627";
}

.fhui-icon-walking:before {
	content: "\e628";
}

.fhui-icon-bicycle:before {
	content: "\e629";
}

.fhui-icon-car:before {
	content: "\e62a";
}

.fhui-icon-bus:before {
	content: "\e62b";
}

.fhui-icon-plane:before {
	content: "\e62c";
}

.fhui-icon-compass:before {
	content: "\e62d";
}

.fhui-icon-arrowdown:before {
	content: "\e62e";
}

.fhui-icon-arrowdown-1:before {
	content: "\e62f";
}

.fhui-icon-arrowdown-2:before {
	content: "\e630";
}

.fhui-icon-arrowdown-3:before {
	content: "\e631";
}

.fhui-icon-arrowleft:before {
	content: "\e632";
}

.fhui-icon-arrowleft-1:before {
	content: "\e633";
}

.fhui-icon-arrowleft-2:before {
	content: "\e634";
}

.fhui-icon-arrowright:before {
	content: "\e635";
}

.fhui-icon-arrowright-1:before {
	content: "\e636";
}

.fhui-icon-arrowright-2:before {
	content: "\e637";
}

.fhui-icon-arrowup:before {
	content: "\e638";
}

.fhui-icon-arrowup-1:before {
	content: "\e639";
}

.fhui-icon-arrowup-2:before {
	content: "\e63a";
}

.fhui-icon-arrowup-3:before {
	content: "\e63b";
}

.fhui-icon-up:before {
	content: "\e63c";
}

.fhui-icon-right:before {
	content: "\e63d";
}

.fhui-icon-down:before {
	content: "\e63e";
}

.fhui-icon-left:before {
	content: "\e63f";
}

.fhui-icon-barcode:before {
	content: "\e640";
}

.fhui-icon-qrcode:before {
	content: "\e641";
}

.fhui-icon-headphone:before {
	content: "\e642";
}

.fhui-icon-pc:before {
	content: "\e643";
}

.fhui-icon-mobile:before {
	content: "\e644";
}

.fhui-icon-tablet:before {
	content: "\e645";
}

.fhui-icon-tv:before {
	content: "\e646";
}

.fhui-icon-wrench:before {
	content: "\e647";
}

.fhui-icon-equalizer:before {
	content: "\e648";
}

.fhui-icon-equalizer-1:before {
	content: "\e649";
}

.fhui-icon-man:before {
	content: "\e64a";
}

.fhui-icon-woman:before {
	content: "\e64b";
}

.fhui-icon-manwoman:before {
	content: "\e64c";
}

.fhui-icon-plus:before {
	content: "\e64d";
}

.fhui-icon-plus-1:before {
	content: "\e64e";
}

.fhui-icon-minus:before {
	content: "\e64f";
}

.fhui-icon-minus-1:before {
	content: "\e650";
}

.fhui-icon-remove:before {
	content: "\e651";
}

.fhui-icon-remove-1:before {
	content: "\e652";
}

.fhui-icon-remove-2:before {
	content: "\e653";
}

.fhui-icon-ok:before {
	content: "\e654";
}

.fhui-icon-ok-1:before {
	content: "\e655";
}

.fhui-icon-ok-2:before {
	content: "\e656";
}

.fhui-icon-apple:before {
	content: "\e657";
}

.fhui-icon-android:before {
	content: "\e658";
}

.fhui-icon-windows:before {
	content: "\e659";
}

.fhui-icon-windows-1:before {
	content: "\e65a";
}

.fhui-icon-chrome:before {
	content: "\e65b";
}

.fhui-icon-firefox:before {
	content: "\e65c";
}

.fhui-icon-ie:before {
	content: "\e65d";
}

.fhui-icon-opera:before {
	content: "\e65e";
}

.fhui-icon-safari:before {
	content: "\e65f";
}

.fhui-icon-search:before {
	content: "\e660";
}

.fhui-icon-heart:before {
	content: "\e661";
}

.fhui-icon-heart-1:before {
	content: "\e662";
}

.fhui-icon-star:before {
	content: "\e663";
}

.fhui-icon-star-1:before {
	content: "\e664";
}

.fhui-icon-user:before {
	content: "\e665";
}

.fhui-icon-zoomout:before {
	content: "\e666";
}

.fhui-icon-zoomin:before {
	content: "\e667";
}

.fhui-icon-signal:before {
	content: "\e668";
}

.fhui-icon-signal2:before {
	content: "\e669";
}

.fhui-icon-road:before {
	content: "\e66a";
}

.fhui-icon-refresh:before {
	content: "\e66b";
}

.fhui-icon-sync:before {
	content: "\e66c";
}

.fhui-icon-bookmark:before {
	content: "\e66d";
}

.fhui-icon-mapmark:before {
	content: "\e66e";
}

.fhui-icon-water:before {
	content: "\e66f";
}

.fhui-icon-stepbackward:before {
	content: "\e670";
}

.fhui-icon-fastbackward:before {
	content: "\e671";
}

.fhui-icon-backward:before {
	content: "\e672";
}

.fhui-icon-forward:before {
	content: "\e673";
}

.fhui-icon-fastforward:before {
	content: "\e674";
}

.fhui-icon-stepforward:before {
	content: "\e675";
}

.fhui-icon-eject:before {
	content: "\e676";
}

.fhui-icon-question:before {
	content: "\e677";
}

.fhui-icon-info:before {
	content: "\e678";
}

.fhui-icon-screenshot:before {
	content: "\e679";
}

.fhui-icon-bancircle:before {
	content: "\e67a";
}

.fhui-icon-exclamation:before {
	content: "\e67b";
}

.fhui-icon-leaf:before {
	content: "\e67c";
}

.fhui-icon-fire:before {
	content: "\e67d";
}

.fhui-icon-warning:before {
	content: "\e67e";
}

.fhui-icon-certificate:before {
	content: "\e67f";
}

.fhui-icon-paperclip:before {
	content: "\e680";
}

.fhui-icon-tree:before {
	content: "\e681";
}

.fhui-icon-tree-1:before {
	content: "\e682";
}

